.friday-march-17 {
  position: absolute;
  top: 60px;
  left: 60px;
  font-size: var(--font-size-21xl);
  font-weight: 500;
}
.div {
  top: 120px;
  left: 60px;
  font-size: var(--font-size-46xl);
  font-weight: 300;
}
.c,
.div,
.pm {
  position: absolute;
}
.pm {
  top: 143px;
  left: 226px;
  font-weight: 300;
}
.c {
  top: 1px;
  left: 60px;
}
.c-parent,
.mask-group-icon {
  position: absolute;
  height: 50px;
}
.mask-group-icon {
  top: 0;
  left: 0;
  width: 50px;
  object-fit: cover;
}
.c-parent {
  top: 60px;
  left: 884px;
  width: 136px;
  font-size: var(--font-size-13xl);
}
.mask-group-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.regenerate {
  position: absolute;
  top: 6px;
  left: 83px;
  font-weight: 300;
}
.mask-group-parent {
  position: absolute;
  top: 1749px;
  left: 752px;
  width: 268px;
  height: 60px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
}
.maybe-you-should {
  margin: 0;
}
.maybe-you-should-container {
  position: absolute;
  top: 0;
  left: 4px;
  font-weight: 300;
}
.have-a-snack {
  margin-bottom: 0;
}
.have-a-snack-or-a-drink-from-t {
  margin: 0;
  padding-left: 56px;
}
.have-a-snack-container {
  position: absolute;
  top: 243px;
  left: 0;
  font-size: var(--font-inherit);
  font-weight: 300;
  font-family: var(--font-inherit);
  text-align: left;
  display: inline-block;
  width: 872px;
}
.maybe-you-should-take-a-break-parent {
  position: absolute;
  top: 450px;
  left: 104px;
  width: 872px;
  height: 684px;
}
.sad-prompts-child {
  position: absolute;
  top: 1668px;
  left: 72px;
  width: 110px;
  height: 161px;
  object-fit: cover;
  cursor: pointer;
}
.sad-prompts {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1920px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
