.friday-march-174 {
  position: absolute;
  top: 60px;
  left: 60px;
  font-size: var(--font-size-21xl);
  font-weight: 500;
}
.div4 {
  top: 120px;
  left: 60px;
  font-size: var(--font-size-46xl);
  font-weight: 300;
}
.c4,
.div4,
.pm4 {
  position: absolute;
}
.pm4 {
  top: 143px;
  left: 226px;
  font-weight: 300;
}
.c4 {
  top: 1px;
  left: 60px;
}
.mask-group-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.c-parent1 {
  position: absolute;
  top: 60px;
  left: 884px;
  width: 136px;
  height: 50px;
  font-size: var(--font-size-13xl);
}
.mask-group-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.regenerate4 {
  position: absolute;
  top: 6px;
  left: 83px;
  font-weight: 300;
}
.mask-group-parent2 {
  position: absolute;
  top: 1749px;
  left: 752px;
  width: 268px;
  height: 60px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
}
.breathe-in-breathe {
  position: absolute;
  top: 923px;
  left: 217px;
  font-weight: 300;
}
.sad-prompts-child1 {
  position: absolute;
  top: 1668px;
  left: 72px;
  width: 110px;
  height: 161px;
  object-fit: cover;
  cursor: pointer;
}
.sad-prompts4 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1920px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
